{% extends "FeastArchitect/base.html" %}
{% load static %}

{% block title %}Feast Feature Store Architect{% if repo_name %} - {{ repo_name }}{% endif %}{% endblock %}

{% block content %}
    {% include "FeastArchitect/components/_toolbar.html" %}
    {% include "FeastArchitect/components/_quick_actions.html" %}
    {% include "FeastArchitect/components/_fab_menu.html" %}

    {% include "FeastArchitect/components/_canvas_area.html" %}

    {% include "FeastArchitect/components/_edge_manager_panel.html" %}
    {% include "FeastArchitect/components/_llm_panel.html" %}
    {% include "FeastArchitect/components/_django_panel.html" %}
    {% include "FeastArchitect/components/_code_editor_panel.html" %}
    {% include "FeastArchitect/components/_detail_panel.html" %}
{% endblock %}

{% block modals %}
    {% include "FeastArchitect/components/_modals.html" %}
    {% include "FeastArchitect/components/_tooltip.html" %}
{% endblock %}

{% block extra_js %}
    <!-- Django Context -->
    {% include "FeastArchitect/includes/_django_context.html" %}

    <!--
        Module Loader - loads all JS files in correct order:
        1. config.js, utils.js, api.js
        2. canvas-renderer.js, node-manager.js, layout-manager.js
        3. search-manager.js, ui-manager.js, code-generator.js
        4. llm-helper.js, example-data.js
        5. feast-diagram.js (main class)
        6. main.js (creates window.diagram = new FeastDiagram('diagramCanvas'))
    -->
    <script src="{% static 'FeastArchitect/js/modules-loader.js' %}"></script>
{% endblock %}
