{% load static %}
{% include "FeastArchitect/components/modals/_component_modal.html" %}
{% include "FeastArchitect/components/modals/_settings_modal.html" %}
{% include "FeastArchitect/components/modals/_stats_modal.html" %}
{% include "FeastArchitect/components/modals/_usage_modal.html" %}
{% include "FeastArchitect/components/modals/_data_flow_modal.html" %}
{% include "FeastArchitect/components/modals/_user_selector_modal.html" %}
{% include "FeastArchitect/components/modals/_push_repo_modal.html" %}
