<!-- Component Modal -->
{% include "FeastArchitect/components/modals/_component_modal.html" %}

<!-- Settings Modal -->
{% include "FeastArchitect/components/modals/_settings_modal.html" %}

<!-- Stats Modal -->
{% include "FeastArchitect/components/modals/_stats_modal.html" %}

<!-- Usage Modal -->
{% include "FeastArchitect/components/modals/_usage_modal.html" %}

<!-- Guide Modal -->
{% include "FeastArchitect/guide/_guide_modal.html" %}

<!-- Data Flow Modal -->
{% include "FeastArchitect/components/modals/_data_flow_modal.html" %}

<!-- User Selector Modal -->
{% include "FeastArchitect/components/modals/_user_selector_modal.html" %}

<!-- Push Repository Modal -->
{% include "FeastArchitect/components/modals/_push_repo_modal.html" %}
