<!-- Edge Manager Panel -->
{% include "FeastArchitect/components/_edge_manager_panel.html" %}

<!-- LLM Helper Panel -->
{% include "FeastArchitect/components/_llm_panel.html" %}

<!-- Django Admin Panel -->
{% include "FeastArchitect/components/_django_panel.html" %}

<!-- Code Editor Panel -->
{% include "FeastArchitect/components/_code_editor_panel.html" %}

<!-- Detail Side Panel -->
{% include "FeastArchitect/components/_detail_panel.html" %}

<!-- Tooltip -->
{% include "FeastArchitect/components/_tooltip.html" %}
