{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ page_title|default:"DataSenseHub" }}</title>
    <link rel="icon" type="image/png" href="{% static 'SecureGate/images/icons/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'SecureGate/css/auth.css' %}"/>
</head>
<body>
    {% block topnav %}{% endblock %}

    <div class="sg-page">
        {% block content %}{% endblock %}
    </div>

    {% block custom_script %}{% endblock %}
    <script src="{% static 'SecureGate/js/auth.js' %}"></script>
</body>
</html>
